# Images
*.jpg
*.tiff
*.exr

# PBRT folder
pbrt-v2-master/bin/
pbrt-v2-master/lib/
pbrt-v2-master/tmp/
pbrt-v2-master/src/pbrt.vs2008/
pbrt-v2-master/src/pbrt.vs2010/
pbrt-v2-master/src/pbrt.vs2012/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
